.ly-main-menu-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ly-main-menu-button span{
    font-family: 'Lato';
    font-size: 20pt;
}

.ly-main-menu-button img{
    width: 10em;
    height: 10em;
}

button{
    border: none;
    background-color: white;
    cursor: pointer;
}